

<div class="container messages-index">
	<h3 style="text-align:center"><%= t ".conversation_between" %> <%= @conversation.recipient.name %> <%= t ".and" %> <%= @conversation.sender.name %></h3>
<div id="message-box" data-conversation-id="<%= @conversation.id %>">
	<% @messages.each do |message| %>
		<% if message.body %>
			<% user = User.find(message.user_id) %>
			 <%= render 'messages/message', message: message %>
		<% end %>
	<% end %>
</div>

	<%= form_for [@conversation, @message] do |f| %>
		<div class="input-group mb-3">
			<%= f.text_field :body, placeholder: true, class: "form-control message-field" %>
			<%= f.text_field :user_id, value: current_user.id, type: "hidden" %>	
			<div class="input-group-append">
				<%= f.submit t(".submit"), class: "btn btn-secondary", data: { disable_with: false } %>
			</div>
		</div>
		<div class="message-file mb-5">
			<%= f.file_field :files, multiple: true, accept: 'application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
		</div>
	<% end %>
	<div class="mb-5">
	<%= link_to t('.back'), conversations_path, class: "btn btn-info" %>
	<%= link_to "Back to forum posts", chatrooms_path, class: "btn btn-secondary" %>

	</div>
</div>





