
<div id="comment-<%= comment.id %>">
	<div class="card mb-2">
		<div class="card-header text-muted">
			<div class="float-left">
    		<%= t ".commented" %>: <%= comment.user.name %><br/>
    		<small><%= t ".posted" %>: <%= comment.created_at.strftime("%d-%m-%Y") %></small>
    	</div>
    	<div class="float-right">
    		<% if comment.user.id != current_user.id %>
					<%= link_to t(".message"), conversations_path(sender_id: current_user.id, recipient_id: comment.user.id), method: "post" %>
				<% elsif signed_in? and current_user == comment.user %>
				<%= link_to t('.delete'), chatroom_comment_path(@chatroom, comment), method: :delete, remote: true %>
				<% end %>
    	</div>
 		</div>
 		<div class="card-body">
    	<em><%= simple_format(comment.body) %></em>
 		</div>
	</div>
</div>



				








		
