<div class="container conversations-container">
	<div class="recent_heading mb-2">
		<h4><%= t ".recent_conversations" %></h4>
	</div>	
		<% @conversations.each do |conversation| %>
			<% if conversation.messages.exists? %>
				<% if !conversation.sender.nil? and !conversation.recipient.nil? %>
					<% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
						<% if conversation.sender_id == current_user.id %>
							<% recipient = User.find(conversation.recipient_id) %>
						<% else %>
							<% recipient = User.find(conversation.sender_id) %>
						<% end %>
						<% unless current_user.id == recipient %>
						<div class="clearfix conversation_people">
							<div class="chat_img"> <%= link_to image_tag("/assets/teacher-icon.png"), conversation_messages_path(conversation) %></div>
							<div class="small text-muted float-right"><%= conversation.messages.last.created_at.strftime("%F")%>
							</div>
							<div class="conversation-user ml-5">
								<%= link_to recipient.name, conversation_messages_path(conversation), class: "conv-user-name" %>
								<% if !conversation.unread_message_count(current_user).zero? %>
        					<small class="unread-count">(<%= link_to t('.new_messages'), conversation_messages_path(conversation), class: "unread-count" %> <%= conversation.unread_message_count(current_user) %>)</small></span>
      					<% end %>
      					<br/>
      				<%= link_to conversation.last_message.body.truncate(40), conversation_messages_path(conversation) %>
      				<% end %>
							</div>

							</div>

					<% end %> 

				<% end %>

			<% end %>

		<% end %>

</div>


	
