<%= render 'shared/errors', obj: @chatroom %>

	<div class="new-forum-post">
		<h3><%= t ".new_forum_post" %></h3>
	</div><br/>
	<%= simple_form_for @chatroom, :html => { :multipart => true } do |f| %>
		<div class="form-inputs">
			<%= f.input :title, required: true, autofocus: true %>
			<%= f.input :description, as: :text, input_html: {rows: 5}, required: true %>
		</div>
		<div class="form-actions">
			<%= f.button :submit, "Create a post", class: "create-chat-button mb-5" %>
		</div>
	<% end %>