<%= render 'shared/errors', obj: @chatroom %>
	<div class="new-post-form">
		<%= simple_form_for @chatroom, :html => { :multipart => true } do |f| %>
			<div class="form-inputs">
				<%= f.input :title, required: true, autofocus: true %>
				<%= f.input :description, as: :text, input_html: {rows: 5}, required: true %>
			</div>
			<div class="form-actions">
				<%= f.button :submit, "Create a post", class: "create-chat-button mb-5" %>
			</div>
		<% end %>
	</div>