<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="forum-title">
				<h3><span class="fas fa-folder-open"></span>Teacher Chat and Forum</h3>
			</div>
			<% @chatrooms.each do |chat| %>
				<div class="forum-post">
					<div class="clearfix">
						<% if signed_in? && current_user.teacher? %>
							<div class="post-body">
								<div class="col-md-8 float-left">
		 							<h6 class="post-title"><span class="fa fa-comments">
		 							</span><%= link_to chat.title, chatroom_path(chat) %>
		 							<span class="comments-count"><%= link_to pluralize(chat.comments.count, 'comment'), chatroom_path(chat) %></span></h6>
		 							<div class="post-description">
		 								<%= truncate(chat.description, length: 200) %>
		 							</div>
		 						</div>
		 						<div class="col-md-4 float-right">
										<div class="chat-owner-info">
											<% if current_user != chat.user %>
											<span class="far fa-envelope"></span><%= link_to(chat.user.name.capitalize, conversations_path(sender_id: current_user.id, recipient_id: chat.user.id), method: "post", class: "chat-owner") %>
											<% else %>
											<%= chat.user.name.capitalize %>
											<% end %>
											<div class="chat-owner-country">
											Country: <%= chat.user.country %>
										</div>
										<small class="text-muted">
											Post created: <%= chat.created_at.strftime("%d/%m/%Y") %>
										</small>
 										</div>
								</div>
		 					</div>
		 				</div>
		 			</div>
		   <% end %>
		 <% end %>
		</div>
		<div class="col-md-4">
			<div class="new-forum-post">
				<h3><%= t ".new_forum_post" %></h3>
			</div><br/>
			<div class="chat-form">
		  	<%= render 'form' %>
			</div>
			<% if @chatrooms.exists? %>
				<div class="card-footer mb-4">
				<dl>
					<dt>Last post created by:</dt>
					<dd><%= Chatroom.last.user.name %> || <%= Chatroom.last.user.country %> </dd>
				</dl>
				</div>
			<% end %>
  	<div class="card chatroom-statistics mb-3">
  		<h6 class="card-header">Forum statistics</h6>
  			<div class="card-body">
  				<dl>
  					<dt>Total posts:</dt>
  						<dd><%= @chatrooms.count %></dd>
  				</dl>
  				<dl>
  					<dt>Total comments:</dt>
  						<dd><%= @comments.count %></dd>
  				</dl>
  				<dl>
  					<dt>Total forum users:</dt>
  						<dd><%= Chatroom.distinct.count(:user_id) + Comment.distinct.count(:user_id) %></dd>
  				</dl>
  			</div>
  		</div>
    </div>
	</div>
</div>








	

		
		


