
<div class="container">
  <h2 class="h4 text-white forum-title mb-0 p-4 rounded-top"><%= @chatroom.title %></h2>
<div class="table-responsive-lg">
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t ".author" %></th>
        <th scope="col"><%= t ".post" %></th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td class="author-col">
          <% if current_user.id != @chatroom.user_id %>
        <div><%= @chatroom.user.name %> <small><%= link_to t(".send_a_message"), conversations_path(sender_id: current_user.id, recipient_id: @chatroom.user.id), method: 'post' %></small></div>
        <% else %>
        <%= @chatroom.user.name.capitalize %>
        <% end %>
        </td>
        <td class="post-col d-lg-flex justify-content-lg-between">
          <div><span class="font-weight-bold"><%= t ".posted" %>:</span> <%= @chatroom.created_at.strftime("%d-%m-%Y") %></div>
        </td>
      </tr>

      <tr>
        <td>
          <div><span class="font-weight-bold"><%= t ".joined" %>:</span><br><%= @chatroom.user.created_at.strftime("%d-%m-%Y") %></div>
          <div><span class="font-weight-bold"><%= t ".posts" %>:</span><br><%= @chatroom.user.chatrooms.count %></div>
        </td>
        <td>
          <p><%= simple_format(@chatroom.description) %></p>
          <% if signed_in? && (current_user == @chatroom.user) %>
          <%= link_to t(".delete"), chatroom_path(@chatroom), method: :delete, data: { confirm: "Are you sure you want to delete this forum post?" }, class: "btn btn-sm btn-danger" %>
          <%= link_to t(".edit"), edit_chatroom_path(@chatroom), class: "btn btn-sm btn-warning" %>
          <% end %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<% if @chatroom.comments != 0 %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="comment-pane">
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if signed_in? and current_user.teacher? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
      <em><strong><label for="comment"><%= t ".reply" %>:</label></strong></em>
        <%= form_with model: [@chatroom, @comment] do |f| %>
        <%= f.text_area :body, rows: 8, class: "form-control mb-3", placeholder: true, autofocus: true %>
        <%= f.submit 'Submit Comment', class: "btn btn-secondary btn-sm mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %> 



  



