<div class="container mb-5">
  <div class="row">
    <div class="card col-5">
      <img class="card-img-top" src="/assets/teacher-icon.png/">
      <div class="card-body">
        <h5 class="card-title"><%= t ".user_information" %></h5>
        <p class="card-text">
          <%= User.human_attribute_name("name") %>: <%= @user.name %><br/>
          <%= User.human_attribute_name("country") %>: <%= @user.country %><br/>
          <%= User.human_attribute_name("email") %>: <%= @user.email %><br/>
        </p>
        <%= link_to t(".edit_profile"), edit_user_path(current_user), class: "btn btn-secondary" %>
      </div>
    </div>
    <div class="card col-7">
      <div class="card-body">
        <h5 class="card-title"><%= t ".my_uploads" %></h5>
        <hr>
        <% if @user.documents.present? %>
          <h5><%= t ".virtual_library" %></h5>
          <% @user.documents.each do |document| %>
            <em><%= document.title.truncate(65) %></em>
          <%= link_to t(".edit"), edit_document_path(document) %> ||
          <%= link_to t(".delete"), document_path(document), method: :delete, data: { confirm: "Are you sure you want to delete this document?" } %><br/>
          <% end %>
        <hr>
        <% end %>
        <% if @user.diyprojects.present? %>
          <h5><%= t ".diy_projects" %></h5>
          <% @user.diyprojects.each do |diyproject| %>
            <em><%= diyproject.title.truncate(65) %></em>
          <%= link_to t(".view"), diyproject_path(diyproject) %> ||
          <%= link_to t(".edit"), edit_diyproject_path(diyproject) %> ||
          <%= link_to t(".delete"), diyproject_path(diyproject), method: :delete, data: { confirm: "Are you sure you want to delete this diy project?" } %><br/>
          <% end %>
        <hr>
        <% end %>
        <% if @user.chatrooms.present? %>
          <h5><%= t ".forum_posts" %></h5>
          <% @user.chatrooms.each do |chatroom| %>
           <em> <%= chatroom.title.truncate(65) %></em>
          <%= link_to t(".view"), chatroom_path(chatroom) %> ||
          <%= link_to t(".edit"), edit_chatroom_path(chatroom) %> ||
          <%= link_to t(".delete"), chatroom_path(chatroom), method: :delete, data: { confirm: "Are you sure you want to delete this forum post?" } %><br/>
          <% end %>
        <hr>
        <% end %>
        <% if @user.diyextraimages.present? %>
          <h5>DIY extra images</h5>
          <% @user.diyextraimages.each do |diyextraimage| %>
            <em> <%= diyextraimage.diyproject.title.truncate(65) %></em>
          <%= link_to t(".view"), diyextraimage.image  %>
          <%= link_to t(".delete"), diyextraimage_path(diyextraimage), method: :delete, data: { confirm: "Are you sure you want to delete this image?" } %><br/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>