
<div class="container">
  <div class= "jumbotron">
    <div class="container">
      <h1 class="short-info mb-1"><%= t ".title" %></h1>
      <h6 class="mb-3"><%= t ".jumbotron_description" %></h6>
      <% if !signed_in? %>
      <div class="btn-group">
        <button class="btn btn-custom5 shadow p-2 mb-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".log_in" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <%= link_to t("global.menu.teacher"), sign_in_path(role: "teacher"), class: 'dropdown-item' %>
          <%= link_to t("global.menu.family"), sign_in_path(role: "family"), class: 'dropdown-item' %>
          <%= link_to t("global.menu.student"), sign_in_path(role: "student"), class: 'dropdown-item' %>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-custom5 shadow p-2 mb-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".sign_up" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t("global.menu.teacher"), sign_up_path(role: "teacher"), class: 'dropdown-item' %>
          <%= link_to t("global.menu.family"), sign_up_path(role: "family"), class: 'dropdown-item' %>
          <%= link_to t("global.menu.student"), sign_up_path(role: "student"), class: 'dropdown-item' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <% if signed_in? %> 
              <div class="card-header"><%= link_to t(".virtual_library"), documents_path %></div>
            <% else %>
              <div class="card-header"><%= t ".virtual_library" %></div>
            <% end %>
            <div class="card-body">
              <p class="card-text">
              <%= t ".virtual_library_description" %>
              </p>
              <%= link_to "/assets/Documents.png", 'data-lightbox': 'image' do %>
              <img class="card img-bottom" src="/assets/Documents.png">
              <% end %>
              </img>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <% if signed_in? and current_user.teacher? %> 
              <div class="card-header"><%= link_to t(".virtual_teachers_room"), chatrooms_path %></div>
            <% else %>
              <div class="card-header"><%= t ".virtual_teachers_room" %></div>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <%= t ".virtual_teachers_room_description" %>
              </p>
              <%= link_to "/assets/Forum.jpg", 'data-lightbox': 'image' do %>
              <img class="card img-bottom" src="/assets/Forum.jpg">
              <% end %>
              </img>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <% if signed_in? %> 
              <div class="card-header"><%= link_to t(".diy_photo_gallery"), diyprojects_path %></div>
            <% else %>
              <div class="card-header"><%= t ".diy_photo_gallery" %></div>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <%= t ".diy_photo_gallery_description" %>
              </p>
              <%= link_to "/assets/DIY", 'data-lightbox': 'image' do %>
              <img class="card img-bottom" src="/assets/DIY">
              <% end %>
              </img>
            </div>
          </div>
        </div>
      </div>
        <div class="row no-gutters bg-light p-4 mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="assets/whatwedo.jpeg" style="width:220px; height:220px;"  class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2><%= t ".what_we_do" %></h2>
              <p>
                <%= t ".what_we_do_description" %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="assets/whoweare.jpeg", style="width:220px; height:220px" class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2><%= t ".who_we_are" %></h2>
              <p>
              <%= t ".who_we_are_description" %>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
