
<% obj.each do |diyproject| %>
  <div class="diy-space col-5 mb-1 shadow p-3 mb-5 rounded">
    <h4 class="document-title"><%= link_to diyproject.title.capitalize, diyproject_path(diyproject) %></h4>
    <div><%= truncate(diyproject.description.capitalize, length: 100, omission: '...') %></div>
    <span class="small text-muted"><%= t(".uploaded_by") %>:</span><small> <%= diyproject.user.name %></small>
    <br/>
    <div class="diyattachment-actions mb-1">
      <%= link_to t('.view_file'), diyproject.attachment, class: "badge badge-info" %>
      <%= link_to( t(".download_file"), 
          rails_blob_path( diyproject.attachment, disposition: "attachment"), class: "badge badge-info"
      ) %> 
      <%= link_to t(".see_more_images"), diyproject_path(diyproject), class: "badge badge-info" %>
    </div>
    <div class="rating">
      <% if current_user %>
        <%= t (".rate_difficulty") %>
          <small class="text-muted"><%= t ".rating_description" %></small>
            <%= rating_for diyproject, "difficulty_degree" %>
      <% end %>
      <small class="text-muted"><%= t ".total_votes" %>: <%= diyproject.rates("difficulty_degree").count %></small>
    </div>
  </div>
<% end %>