<%= render 'shared/errors', obj: @diyproject %>

<div class="col-md-6 offset-md-3">
	<div class="diyupload-form">
		<h2><%= t ".title" %></h2><br/>
			<%= simple_form_for @diyproject, :html => { :multipart => true } do |f| %>
				<div class="form-inputs">
					<%= f.input :title, required: true, autofocus: true %>
					<%= f.input :description, as: :text, input_html: {rows: 5}, required: true %>
					<%= f.hint 'Select DIY Project Type' %>
					<%= f.input :place, as: :radio_buttons, collection: [:indoors , :outdoors] %>
					<%= f.hint 'Select age best suitable for this DIY activity' %>
					<%= f.input :age, as: :radio_buttons, collection: [['From 6 to 9', 'From 6 to 9'], ['From 10 to 12', 'From 10 to 12'], ['Other', 'Other']] %>
					<%= f.file_field :images, multiple: true %>
				</div>
				<div class="form-actions">
					<%= f.button :submit, class: "btn-custom" %>
				</div>
			<% end %>
	</div>
</div>