<%= render 'shared/errors', obj: @diyproject %>

<div class="col-md-6 offset-md-3">
	<div class="diyupload-form">
		<h2><%= t ".title" %></h2><br/>
			<p>
				If You liked this DIY project and You made it at home with Your kids, upload an image of the final result of the project and share it with other website's users!<br/>N.B. Please do not upload any image with children in it! Such images will be deleted by our administrators without any aditional notice.
			</p>

				<%= simple_form_for @diyproject, :html => { :multipart => true } do |f| %>
					<div class="form-inputs">
						<%= f.file_field :images, multiple: true %>
					</div>
					<div class="form-actions">
						<%= f.button :submit, class: "btn-custom" %>
					</div>
				<% end %>
			<%= link_to "Go back to DIY list", diyprojects_path %>
	</div>
</div>

