<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
	<meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
  <div class='container'>
  	<h1><%= @diyproject.title %></h1>
  
  	<div class="diy-description">
		<p><strong>Description</strong></p><%= simple_format(@diyproject.description) %>
	</div>
	<div class="diy-objective">
		<p><strong>Objective</strong></p><%= simple_format(@diyproject.objective) %>
	</div>
	<div class="diy-place">
		<p><strong>Place</strong></p><%= @diyproject.place %>
	</div>
	<div class="diy-place">
		<p><strong>Age</strong></p><%= @diyproject.age %>
	</div>
	<div class="diy-duration">
		<p><strong>Duration</strong></p><%= simple_format(@diyproject.duration) %>
	</div>
	<div class="diy-results">
		<p><strong>Results and tips</strong></p><%= simple_format(@diyproject.results_and_tips) %>
	</div>
	<div class="diy-materials">
		<p><strong>Materials</strong></p><%= simple_format(@diyproject.results_and_tips) %>
	</div>
	<div class="diy-links">
		<p><strong>Links and resources</strong></p><%= simple_format(@diyproject.links_and_resources) %>
	</div>
</body>
</html>