<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
	<meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
  <div class='container'>
  	<h1><%= @diyproject.title %></h1>
  	<div class="place-age">
  	<div class="small text-muted"><%= t ".age" %>: <%= t @diyproject.age %> || <%= t ".done" %>: <%= t @diyproject.place %></div><br/>
  </div>
  	<div class="diy-description">
		<p><strong><%= Diyproject.human_attribute_name("description") %></strong></p><%= simple_format(@diyproject.description) %>
	</div>
	<div class="diy-objective">
		<p><strong><%= Diyproject.human_attribute_name("objective") %></strong></p><%= simple_format(@diyproject.objective) %>
	</div>
	<div class="diy-duration">
		<p><strong><%= Diyproject.human_attribute_name("duration") %></strong></p><%= simple_format(@diyproject.duration) %>
	</div>
	<div class="diy-results">
		<p><strong><%= Diyproject.human_attribute_name("results_and_tips") %></strong></p><%= simple_format(@diyproject.results_and_tips) %>
	</div>
	<div class="diy-materials">
		<p><strong><%= Diyproject.human_attribute_name("materials") %></strong></p><%= simple_format(@diyproject.results_and_tips) %>
	</div>
	<div class="diy-links">
		<p><strong><%= Diyproject.human_attribute_name("links_and_resources") %></strong></p><%= simple_format(@diyproject.links_and_resources) %>
	</div>
</body>
</html>