<div class="container diyproject-showpage">
	<div align="center">
		<div class="diy-title">
			<h1><%= @diyproject.title %></h1>
				<%= link_to t('.download_diy'), diyproject_path(@diyproject, :format => :pdf), class: "btn btn-custom5" %>
		</div>
		<br/>
	</div>
	<% if @diyproject.images.attached? %>
		<div class="card-columns">
			<% @diyproject.images.each do |image| %>
				<%= link_to image, 'data-lightbox': 'image' do %>
  				<%= image_tag image.variant(resize: "400x400").processed, class: "card diy-image" %>
  			<% end %>
  		<% end %>
  	</div>
	<% end %>
	<div class="diy-description">
		<p><strong><%= Diyproject.human_attribute_name("description") %></strong></p><%= simple_format(@diyproject.description) %>
	</div>
	<div class="diy-objective">
		<p><strong><%= Diyproject.human_attribute_name("objective") %></strong></p><%= simple_format(@diyproject.objective) %>
	</div>
	<div class="diy-duration">
		<p><strong><%= Diyproject.human_attribute_name("duration") %></strong></p><%= simple_format(@diyproject.duration) %>
	</div>
	<div class="diy-place">
		<p><strong><%= Diyproject.human_attribute_name("place") %></strong></p><%= simple_format(@diyproject.place) %>
	</div>
	<div class="diy-age">
		<p><strong><%= Diyproject.human_attribute_name("age") %></strong></p><%= simple_format(@diyproject.age) %>
	</div>
	<div class="diy-results">
		<p><strong><%= Diyproject.human_attribute_name("results_and_tips") %></strong></p><%= simple_format(@diyproject.results_and_tips) %>
	</div>
	<div class="diy-materials">
		<p><strong><%= Diyproject.human_attribute_name("materials") %></strong></p><%= simple_format(@diyproject.materials) %>
	</div>
	<div class="diy-links">
		<p><strong><%= Diyproject.human_attribute_name("links_and_resources") %></strong></p><%= simple_format(@diyproject.links_and_resources) %>
	</div>
	<div class="diy-keywords">
		<p><strong><%= Diyproject.human_attribute_name("tags") %></strong></p>
		<% @diyproject.tags.each do |tag| %>
 			<%= link_to "#{tag}", {controller: "diyprojects", action: "index", tag:tag}, class: "badge badge-custom" %>
		<% end %>
	</div>
	<hr>
</div>

<% if (signed_in? and current_user.family?) and (current_user != @diyproject.user) %>
<%= render "upload_image" %>
<% end %>