<div class="container mb-4">
	<% if (signed_in? and current_user.family?) %>
	<%= link_to new_diyproject_diyextraimage_path(@diyproject), class: "btn btn-secondary btn-sm" do %>
			<%= t(".share_your_image") %>
			<i class="fas fa-info-circle"></i>
		<% end %>
	<% end %>
	<%= link_to t(".go_back_to_index"), diyprojects_path, class: "btn btn-secondary btn-sm" %>
</div>


<div class="container diyproject-showpage">
	<div align="center">
		<div class="diy-title">
			<h1><%= @diyproject.title %></h1>
		</div>
		<div class="small text-muted"><%= t ".age" %>: <%= t @diyproject.age %> || <%= t ".done" %>: <%= t @diyproject.place %>
		</div><br/>
		<div class="diy-description">
			<%= simple_format(@diyproject.description) %>
		</div>
		<div class="diyattachment-actions mb-1">
      <%= link_to t('.view_file'), @diyproject.attachment, class: "btn btn-info" %>
      <%= link_to( t(".download_file"), 
          rails_blob_path( @diyproject.attachment, disposition: "attachment"), class: "btn btn-info"
      ) %> 
    </div>
			
		<br/>
	</div>
</div>


<% if @diyproject.diyextraimages.exists? %>
<div class="container">
	<div class="diyextraimage-explain mb-3">
		<h5><%= t ".diyextraimage_explain" %></h5>
	</div>
	<div class="row">
		<% @diyproject.diyextraimages.each do |diyextraimage| %>
		  <%= link_to diyextraimage.image, 'data-lightbox': 'diyextraimage' do %>
		  	<div class="card diyextraimages">
					<%= image_tag diyextraimage.image.variant(resize: "400x400").processed %>
					<% end %>
				<div class="diyextra-user">
					<%= t(".photo_uploaded_by") %>: <%= diyextraimage.user.name %><br/>
					<%= User.human_attribute_name("country") %>: <%= diyextraimage.user.country %>	
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<% end %>

<div class="container mb-5">
	<% if (signed_in? and current_user.family?) %>
		<%= link_to new_diyproject_diyextraimage_path(@diyproject), class: "btn btn-secondary btn-sm" do %>
			<%= t(".share_your_image") %>
			<i class="fas fa-info-circle"></i>
		<% end %>
	<% end %>
	<%= link_to t(".go_back_to_index"), diyprojects_path, class: "btn btn-secondary btn-sm" %>
</div>

<% if (signed_in? and current_user.family?) %>
	<div class="container mb-2">
		<div class="extra-explanation small">
			<i class="fas fa-info-circle"> <%= t(".extra_explanation") %></i>
		</div>
	</div>
<% end %>

	