<div class="container mb-4">
	<% if (signed_in? and current_user.family?) and (current_user != @diyproject.user) %>
	<%= link_to t(".share_your_image"), new_diyproject_diyextraimage_path(@diyproject), class: "btn btn-secondary" %>
	<% end %>
	<%= link_to t(".go_back_to_index"), diyprojects_path, class: "btn btn-secondary" %>
</div>


<div class="container diyproject-showpage">
	<div align="center">
		<div class="diy-title">
			<h1><%= @diyproject.title %></h1>
			<div class="small text-muted"><%= t ".age" %>: <%= t @diyproject.age %> || <%= t ".done" %>: <%= t @diyproject.place %></div><br/>
				<%= link_to t('.download_diy'), diyproject_path(@diyproject, :format => :pdf), class: "btn btn-custom5" %>
		</div>
		<br/>
	</div>
	<div class="diy-description">
		<p><strong><%= Diyproject.human_attribute_name("description") %></strong></p><%= simple_format(@diyproject.description) %>
	</div>
</div>

<div class="container mb-5">
	<% if (signed_in? and current_user.family?) %>
		<%= link_to t(".share_your_image"), new_diyproject_diyextraimage_path(@diyproject), class: "btn btn-secondary" %>
	<% end %>
	<%= link_to t(".go_back_to_index"), diyprojects_path, class: "btn btn-secondary" %>
</div>


<% if @diyproject.diyextraimages.exists? %>
<div class="container">
	<div class="diyextraimage-explain mb-3">
		<h5>Below you can view photos of results of this DIY project uploaded by the parents of this platform:</h5>
	</div>
	<div class="row">
		<% @diyproject.diyextraimages.each do |diyextraimage| %>
			<div class="col-md-4">
				<div class="card diyextraimages">
						<%= image_tag diyextraimage.image.variant(resize: "400x400").processed %>
				<div class="diyextra-user">
					Photo uploaded by: <%= diyextraimage.user.name %><br/>
					Country: <%= diyextraimage.user.country %>	
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<% end %>

	