

<div class="container">
  <div class="row documents">
    <div class="col-md-8">
      <div class="row">
        <%= render 'document', obj: @documents %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="newdoc-button mb-3">
          <%= link_to t(".new_document"), new_document_path, class: "btn btn-lg btn-custom4" %>
        </div>
      </div>
      <div class="row">
        <div class="document-search-form col-md-11">
          <div class="search-form-title mb-3"><%= t ".search_title" %>:</div>
          <%= form_tag(documents_path, :method => "get", id: "search-form") do %>
          <div class="small text-muted mb-1"><%= t".language" %></div>
            <div class="mb-4">
              <%= select_tag(:doc_language, options_for_select([["English"], ["Portuguese"], ["Lithuanian"], ["Spanish"], ["Greek"], ["Bulgarian"], ["Croatian"], ["Czech"], ["Danish"], ["Dutch"], ["Estonian"], ["Finnish"], ["French"], ["German"], ["Hungarian"], ["Italian"], ["Latvian"], ["Maltese"], ["Polish"], ["Romanian"], ["Slovenian"], ["Swedish"], ["Other"]]), id: "index-search", prompt: "", class: "form-control py-2") %>
            </div>
            <div class="small text-muted mb-1"><%= t".enter_keyword" %></div>
            <div class="mb-4">
              <%= text_field_tag :tags, params[:tags], id: "index-search", class: "form-control py-2" %>
            </div>
            <div class="action-buttons">
              <%= submit_tag("Search", :class => "btn btn-outline-secondary") %>
              <%= link_to t(".clear"), documents_path, class: "btn btn-outline-warning ml-1" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="all-tags-block-outline mb-5">
          <div class="all-tags-block">
            <p class="btn btn-custom2"><%= t(".popular_keywords")%></p><br/>
              <% @tags.each do |tag| %>
                <span><%= link_to "#{tag}", {controller: "documents", action: "index", tag: tag}, class: "badge badge-secondary" %></span>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






