
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<%= form_tag(documents_path, :method => "get", id: "search-form", class: "input-group-append") do %>
    	<%= text_field_tag :search, params[:search], placeholder: "Search Documents", id: "index-search", class: "form-control py-2"  %>
      <span class="input-group-append">
       <%= button_tag(type: "submit", class: "btn btn-outline-secondary") do %><i class="fa fa-search"></i></span>
        <% end %>
      <% end %>
    </div>
  </div>

	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<% @documents.each do |document| %>
				<% if (signed_in? && current_user.teacher?) || document.is_public? %>
					<div class="document-space col-md-5">
		 				<h6 class="document-title"><%= document.title %></h6>
						<div class="document-tags">
		  				<% document.tags.each do |tag| %>
		   				<span><%= link_to "#{tag}", {controller: "documents", action: "index", tag: tag}, class: "badge badge-custom" %></span>
		    			<% end %>
		  			</div>
		  			<div class="attachment-actions">
		  				<%= link_to 'View file', document.attachment %> ||
		  				<%= link_to 'Download file', document.attachment, download: '' %>
		  				<span></span>
		  			</div>
		  		</div>
		  		<% end %>
		  	<% end %>
			</div>	
  	</div>

  	<div class="all-tags-block-outline col-md-2">
      <div class="all-tags-block">
        <p class="btn btn-custom2">Popular Tags</p><br/>
          <% @tags.each do |tag| %>
          <span><%= link_to "#{tag}", {controller: "documents", action: "index", tag: tag}, class: "badge badge-secondary" %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>




