<%= render 'shared/errors', obj: @diyextraimage %>

<div class="col-md-6 offset-md-3">
	<div class="diyupload-form">
		<h2><%= t ".title" %></h2><br/>
			<p>
				<%= t ".extra_explanation" %>
			</p>

				<%= simple_form_for [@diyproject, @diyextraimage], :html => { :multipart => true } do |f| %>
					<div class="form-inputs mb-3" name="diy-image" id="diy-image">
						<%= f.file_field :image %>
					</div>
					<div class="form-actions" id="upload-button">
						<%= f.button :submit, class: "btn-custom" %>
					</div>
				<% end %>
				<br/>
			<%= link_to t(".go_back_to_index"), diyprojects_path %>
		</div>
	</div>
</div>

<script>

manageButton();

$('input[type="file"]').change(function() { 
manageButton();
});

function manageButton(){
  if($('input[type="file"]').val() == ""){
     $("#upload-button").hide();
  }else {
     $("#upload-button").show();
  }
}

</script>